<!-- IF HOST != "" --><p><b>Host : </b>{HOST}</p><!-- ENDIF -->
<!-- IF USER_AGENT != "" --><p><b>Agent : </b>{USER_AGENT}</p><!-- ENDIF -->
<!-- IF COUNTRY_CODE != "" --><p><b>Pays : </b>{COUNTRY_CODE}</p><!-- ENDIF -->
<!-- IF LANGUAGE != "" --><p><b>Langage : </b>{LANGUAGE}</p><!-- ENDIF -->
<!-- IF BROWSER_LOCALE != "" --><p><b>Fuseau : </b>{BROWSER_LOCALE}</p><!-- ENDIF -->
<!-- IF BROWSER_TIMEZONE != "" --><p><b>Timezone : </b>{BROWSER_TIMEZONE}</p><!-- ENDIF -->

<!-- IF HOST_ENREGISTREMENT != "" -->
	<h4>Paramètres de l'enregistrement de l'utilisateur</h4>
	<p><b>Host : </b>{HOST_ENREGISTREMENT}</p>
	<!-- IF USER_LANG != "" --><p><b>Langage : </b>{USER_LANG}</p><!-- ENDIF -->
	<!-- IF USER_TIMEZONE != "" --><p><b>Timezone : </b>{USER_TIMEZONE}</p><!-- ENDIF -->
<!-- ENDIF -->
