<!-- gethost($ip) --><!-- IF HOST != "" --><dt>Hôte :</dt><dd>{HOST}</dd><!-- ENDIF -->
<!-- $_SERVER[HTTP_USER_AGENT] --><!-- IF USER_AGENT != "" --><dt>Capacités du navigateur :</dt><dd>{USER_AGENT}</dd><!-- ENDIF -->
<!-- $_SERVER[HTTP_ACCEPT_LANGUAGE] --><!-- IF LANGUAGE != "" --><dt>Langues acceptées :</dt><dd>{LANGUAGE}</dd><!-- ENDIF -->
<!-- DateTimeFormat.browser_locale --><!-- IF BROWSER_LOCALE != "" --><dt>Langue demandée par le navigateur :</dt><dd>{BROWSER_LOCALE}</dd><!-- ENDIF -->
<!-- DateTimeFormat.browser_timeZone --><!-- IF BROWSER_TIMEZONE != "" --><dt>Zone horaire :</dt><dd>{BROWSER_TIMEZONE}</dd><!-- ENDIF -->
