<script>
	// Add browser_operator field in contactform
	document.getElementsByName('contact_subject').forEach (el => {
		el.insertAdjacentHTML(
			'afterend',
			'<input type="hidden" name="browser_operator" />'
		);
	});

	// Populate browser_operator check field
	document.getElementsByName('browser_operator').forEach (el => {
		el.value = 'machine avec javascript mais sans interaction';

		window.addEventListener('mousemove', () => {
			el.value = 'humain avec mouvement de souris ou tactile';
		});

		// Add browser referer field
		const infos = Intl.DateTimeFormat().resolvedOptions();

		el.insertAdjacentHTML(
			'afterend',
			'<input type="hidden" name="browser_referer" value="' + document.referrer + '" />' +
			'<input type="hidden" name="browser_locale" value="' + infos.locale + '" />' +
			'<input type="hidden" name="browser_timezone" value="' + infos.timeZone + '" />'
		);
	});
</script>