/***********************************************************************************************
Style du site mobile

Sommaire :
 1. Entete
 2. Menu
 3. Contenu
 4. Carte
 5. Infos point
 6. Pied de page
***********************************************************************************************/


/*************************************** ZONE  GÉNÉRALE ***************************************/
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	min-width: 320px;
	background: url('../images/grey_light.png') #dedede;
	font-family: 'Open Sans', 'Fira Sans', sans-serif;
}

header, #titrePoint {
	background: url('../images/grey_dark.png') #555;
	min-height: 50px;
	box-shadow: inset 0 10px 15px rgba(150,150,150,0.5), 0 0 10px black;
	border-bottom: 1px solid #ccc;
	color: #fbfbfb;
	font-size: 45px;
	font-variant: small-caps;
	font-weight: lighter;
	text-shadow: 0 0 3px black;
	padding: 0 15px;
}

footer {
	background: rgba(0,0,0,0.85);
	width: 100%;
	height: 40px;
	box-shadow: 0 -1px 0 black;
	border-top: 1px solid #aaa;
	position: fixed;
	bottom: 0;
}

footer li {
	width: 20%;
	height: 100%;
	float: left;
	list-style: none;
	text-align: center;
}

footer li a {
	display: block;
	width: 100%;
	position: relative;
	height: 100%;
	text-align: center;
	fill: white;
}

footer li a:hover {
	fill: #00caf2;
}

footer li a svg {
	height: 28px;
	width: 28px;
	margin-top: 6px;
}

article:not(#carte) {
	padding: 10px 15px 51px 15px;
}

/*************************************** PAGE de l'INDEX ***************************************/

#index p {
	text-shadow: 0px 1px 0px rgba(255,255,255,1);
	text-align: justify;
	display: block;
	width: 95%;
	margin: 15px auto;

}

.btn {
	background-color: #666;
	color: white;
	display: block;
	text-decoration: none;
	padding: 15px;
	margin: 10px 0;
	font-size: 20px;
}

.btn:hover {
	animation: lienhover ease-in-out both 300ms;
}

@keyframes lienhover
{
	100% {background-color: #00B5D9; box-shadow: 0 0 5px black; text-shadow: 1px 1px 0 black;}
}

#externalLinkIcon {
	float: right;
	fill: white;
	height: 50px;
	margin: -12px;
}

/*************************************** PAGE de la CARTE ***************************************/

#carte {
	height: calc(100% - 41px);
}

#map {
	height: 100%;
}

/*************************************** PAGE de CHARGEMENT ***************************************/

.loading-wrap {
	width: 60px; height: 60px;
	position: absolute;
	top: 50%; left: 50%;
	margin: -30px 0 0 -30px;
	background: #777;
	-moz-animation: rotation ease-in-out 2s infinite;
	-webkit-animation: rotation ease-in-out 2s infinite;
	-ms-animation: rotation ease-in-out 2s infinite;
	animation: rotation ease-in-out 2s infinite;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.triangle1, .triangle2, .triangle3 {
	border-width: 0 20px 30px 20px;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: #00caf2;
	height: 0; width: 0;
	position: absolute;
	left: 10px; top: -10px;
	-moz-animation: fadecolor 2s 1s infinite;
	-webkit-animation: fadecolor 2s 1s infinite;
	-ms-animation: fadecolor 2s 1s infinite;
	animation: fadecolor 2s 1s infinite;
}

.triangle2, .triangle3 {
	content: '';
	top: 20px; left: 30px;
	-moz-animation-delay: 1.1s;
	-webkit-animation-delay: 1.1s;
	-ms-animation-delay: 1.1s;
	animation-delay: 1.1s;
}

.triangle3 {
	left: -10px;
	-moz-animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
	-ms-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

@-moz-keyframes rotation
{
	0% {-moz-transform: rotate(0deg);}
	20% {-moz-transform: rotate(360deg);}
	100% {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotation
{
	0% {-webkit-transform: rotate(0deg);}
	20% {-webkit-transform: rotate(360deg);}
	100% {-webkit-transform: rotate(360deg);}
}

@-ms-keyframes rotation
{
	0% {-webkit-transform: rotate(0deg);}
	20% {-webkit-transform: rotate(360deg);}
	100% {-webkit-transform: rotate(360deg);}
}		

@keyframes rotation
{
	0% {transform: rotate(0deg);}
	20% {transform: rotate(360deg);}
	100% {transform: rotate(360deg);}
}

@-moz-keyframes fadecolor
{
	0% {border-bottom-color: #eee;}
	100%{border-bottom-color: #00caf2;}
}

@-webkit-keyframes fadecolor
{
	0% {border-bottom-color: #eee;}
	100%{border-bottom-color: #00caf2;}
}

@-ms-keyframes fadecolor
{
	0% {border-bottom-color: #eee;}
	100%{border-bottom-color: #00caf2;}
}		

@keyframes fadecolor
{
	0% {border-bottom-color: #eee;}
	100%{border-bottom-color: #00caf2;}
}

/*************************************** PAGE d'AIDE ***************************************/

#aide h3 {
	margin: 15px;
}

#aide > ul, #aide > ul > li {
	width: 100%;
}

#aide > ul > li {
	margin-top: 15px;
	box-shadow: 0 0 3px #333333;
	background: #cecece;
	list-style: none;
}

.titreliste {
	vertical-align: middle;
	font-weight: bold;
	padding: 5px 10px;
	background: #cccccc;
	background: -moz-linear-gradient(top,  #cccccc 0%, #bbbbbb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#bbbbbb));
	background: linear-gradient(to bottom,  #cccccc 0%,#bbbbbb 100%);
}

#aide > ul > li > p:first-of-type {
	border-top: 1px solid #eeeeee;
}

#aide > ul > li > * {
	padding: 5px;
}

/*************************************** PAGE d'INFOS sur un POINT ***************************************/

#titrePoint {
	display: block;
	margin: -10px -15px 0 -15px;
}

#fichePoint {
	background: #cdcdcd;
	box-shadow: #aaaaaa 0 2px 5px;
	padding: 3px;
	margin: 0 -15px 15px -15px;
}

#idPoint {
	font-family: monospace;
	float: right;
	text-align: right;
}

#typePoint {
	text-shadow: 0px 1px 0px rgba(255,255,255,1);
	font-weight: bold;
	text-transform: lowercase;
}

#typePoint:first-letter {
	text-transform: uppercase;
}

#coordPoint, #rmqPoint, #proprioPoint, #accesPoint, #infoscompPoint, #pointsprochesPoint {
	width: 95%;
	background: #cdcdcd;
	box-shadow: #aaaaaa 0 0px 5px;
	border-radius: 5px;
	display: block;
	margin: 15px auto;
	padding: 5px;
}

#commentairesPoint {
	background: #cdcdcd;
	box-shadow: #aaaaaa 0 -3px 3px;
	display: block;
	margin: 15px -15px -10px -15px;
	z-index: 1;
	padding: 5px;
}

#commentairesPoint img {
	max-width: 100%;
	margin: 5px 0;
	box-shadow: 0 0 3px black;
}

#com0Point, #com1Point, #com2Point, #com3Point, #com4Point {
	border: 1px solid #aaaaaa;
	background: #c5c5c5;
	margin: 4px;
	padding: 5px;
}

.legendecom {
	font-size: 75%;
	font-style: italic;
}