/* Control */

/* PhpBB compatibility */
.ol-overlaycontainer-stopevent>div:not(.ol-control) {
  margin: 0;
}

/* Buttonless controls */
.myol-permalink,
.ol-attribution,
.myol-mouse-position,
.myol-length-line {
  font-size: 12px;
}

.myol-mouse-position {
  position: absolute;
  bottom: 30px;
  left: 8px;
  padding: 2px;
  border-radius: 4px;
  background: rgba(0, 60, 136, 0.3);
  color: white;
}

.myol-length-line {
  position: absolute;
  bottom: 52px;
  left: 8px;
  padding: 2px;
  border-radius: 4px;
  background: rgba(0, 60, 136, 0.3);
  color: white;
}

.myol-mouse-position:empty,
.myol-length-line:empty {
  display: none;
}

.myol-permalink {
  position: absolute;
  bottom: 35px;
  right: 0;
  padding: 3px;
  border-radius: 8px 0 0 8px;
  background: rgba(0, 60, 136, 0.3);
}

.ol-attribution button,
.ol-attribution button:focus {
  font-size: 14px !important;
}

/* When printing, hide all controls except scale & attribution */
@media print {
  @page {
    /* Hide the header, footer & margins */
    margin: 0;
  }

  body {
    margin: 1mm 0 0 1mm;
    padding: 0;
  }

  /* Force attribution open */
  .ol-scale-line,
  .ol-attribution {
    display: flex !important;
  }

  .ol-attribution ul {
    display: block !important;
  }

  .ol-attribution button,
  .ol-overlaycontainer-stopevent>div {
    display: none;
  }
}