/* LayerSwitcher */

.myol-button-switcher {
  float: right !important;
}

.myol-button-switcher>button {
  font-style: italic;
}

.myol-button-switcher>div {
  right: 0;
}

.myol-button-switcher button::after {
  content: "\274f";
}

.select-ext {
  background: #fcffd1 !important;
}