/*
 * print.css
 */
/* Display only the map when the format is chosen */
body:has(.myol-print-portrait)>*:not(.myol-print-portrait),
body:has(.myol-print-landscape)>*:not(.myol-print-landscape),
/* Hide useless controls */
.myol-print-portrait .ol-control:not(.ol-zoom):not(.ol-attribution):not(.myol-button-print):not(.myol-button-switcher),
.myol-print-landscape .ol-control:not(.ol-zoom):not(.ol-attribution):not(.myol-button-print):not(.myol-button-switcher) {
  display: none;
}

.myol-print-portrait,
.myol-print-landscape {
  position: absolute;
  top: 0;
  left: 0;
  max-height: none !important;
  max-width: none !important;
  width: 210mm !important;
  height: 297mm !important;
}

.myol-print-landscape {
  width: 297mm !important;
  height: 210mm !important;
}

.myol-print-portrait .myol-button-switcher,
.myol-print-landscape .myol-button-switcher {
  float: right !important;
  margin-right: calc(max(2px, 100% - 100vw + 20px));
}

.myol-print-portrait .myol-button-switcher>div,
.myol-print-landscape .myol-button-switcher>div {
  right: calc(max(2px, 100% - 100vw + 20px));
}