/* Etiquettes icones et polygones */
.leaflet-tooltip {
  top: -8px;
  left: 12px;
  padding: 0;
  line-height: 12px;
  border-radius: 3px;
  color: blue;
}

.hide-tooltips .leaflet-tooltip {
  opacity: 0 !important;
}

/* Overpass popups */
.leaflet-popup-content {
  margin: 3px;
}

.leaflet-popup-content table {
  border-spacing: 0 !important;
}

.leaflet-popup-content>div>a {
  display: none;
}