<p><b>Vérification CleanTalk de l'adresse IP de ce message{L_COLON}</b>
<a target="_blank"
href="https://cleantalk.org/blacklists/<!-- IF POST_IPADDR -->{POST_IPADDR}<!-- ELSE -->{POST_IP}<!-- ENDIF -->">
	<!-- IF POST_IPADDR -->{POST_IPADDR}<!-- ELSE -->{POST_IP}<!-- ENDIF -->
</a></p>

<p><b>Localisation de l'adresse IP de ce message{L_COLON}</b>
<a target="_blank"
href="https://whatismyipaddress.com/ip/<!-- IF POST_IPADDR -->{POST_IPADDR}<!-- ELSE -->{POST_IP}<!-- ENDIF -->">
	<!-- IF POST_IPADDR -->{POST_IPADDR}<!-- ELSE -->{POST_IP}<!-- ENDIF -->
</a></p>