<p><b>Vérification CleanTalk de l'adresse IP de ce message{L_COLON}</b>
<a target="_blank"
href="https://cleantalk.org/blacklists/<!-- IF POST_IPADDR -->{POST_IPADDR}<!-- ELSE -->{POST_IP}<!-- ENDIF -->">
	<!-- IF POST_IPADDR -->{POST_IPADDR}<!-- ELSE -->{POST_IP}<!-- ENDIF -->
</a></p>

<p><b>Vérification StopForumSpam de l'adresse IP de ce message{L_COLON}</b>
<a target="_blank" 
href="https://stopforumspam.com/ipcheck/<!-- IF POST_IPADDR -->{POST_IPADDR}<!-- ELSE -->{POST_IP}<!-- ENDIF -->">
	<!-- IF POST_IPADDR -->{POST_IPADDR}<!-- ELSE -->{POST_IP}<!-- ENDIF -->
</a></p>

<p><b>Localisation de l'adresse IP de ce message{L_COLON}</b>
<a target="_blank"
href="https://whatismyipaddress.com/ip/<!-- IF POST_IPADDR -->{POST_IPADDR}<!-- ELSE -->{POST_IP}<!-- ENDIF -->">
	<!-- IF POST_IPADDR -->{POST_IPADDR}<!-- ELSE -->{POST_IP}<!-- ENDIF -->
</a></p>

<!-- IF REAL_IP != "" --><div>REAL_IP: {REAL_IP}</div><!-- ENDIF -->
<!-- IF HOST != "" --><div>HOST: {HOST}</div><!-- ENDIF -->
<!-- IF USER_AGENT != "" --><div>USER_AGENT: {USER_AGENT}</div><!-- ENDIF -->
<!-- IF COUNTRY_CODE != "" --><div>COUNTRY_CODE: {COUNTRY_CODE}</div><!-- ENDIF -->
<!-- IF LANGUAGE != "" --><div>LANGUAGE: {LANGUAGE}</div><!-- ENDIF -->
<!-- IF BROWSER_LOCALE != "" --><div>BROWSER_LOCALE: {BROWSER_LOCALE}</div><!-- ENDIF -->
<!-- IF BROWSER_TIMEZONE != "" --><div>BROWSER_TIMEZONE: {BROWSER_TIMEZONE}</div><!-- ENDIF -->
<!-- IF USER_LANG != "" --><div>USER_LANG: {USER_LANG}</div><!-- ENDIF -->
<!-- IF USER_TIMEZONE != "" --><div>USER_TIMEZONE: {USER_TIMEZONE}</div><!-- ENDIF -->
<!-- IF HOST_ENREGISTREMENT != "" --><div>HOST_ENREGISTREMENT: {HOST_ENREGISTREMENT}</div><!-- ENDIF -->
