<!-- IF FORUM_ID == 4 -->
<div>
	<h4>Cabanes en accès libre</h4>
	Il est <strong>interdit de faire une réservation d'une cabane  ou de signaler
	aux autres que vous y serez</strong>
	car cette pratique est contraire à l'esprit dans lequel ce site à été créé.<br />
	Toute contribution dans ce sens sera supprimé par les modérateurs.<br />
	Voir <a href="viewtopic.php?t=37"> la discussion à ce sujet sur le forum.</a>
</div>
<div>
	<h4>Refuges gardés et gîtes</h4>
	<strong>Refuge.info n'a aucun lien avec les gestionnaires.</strong><br />
	Ne leur laissez pas de message (renseignement, réservation, ...) ici,
	ils ne pourront pas le lire !<br />
	Vous devez les contacter directement (références dans la fiche).
</div>
<!-- ENDIF -->
