<!-- IF FORUM_ID == 4 -->
	<!-- IF ID_POINT_TYPE == 7 and CONDITIONS_UTILISATION <> 'cle_a_recuperer' -->
		<div>
			Il est <strong>interdit de faire une réservation d'une cabane en accès libre
			ou de signaler aux autres que vous y serez</strong>
			car cette pratique est contraire à l'esprit dans lequel ce site à été créé.<br />
			Toute contribution dans ce sens sera supprimé par les modérateurs.<br />
			Voir <a href="viewtopic.php?t=37"> la discussion à ce sujet sur le forum.</a>
		</div>
	<!-- ENDIF -->
	<!-- IF ID_POINT_TYPE == 9 or ID_POINT_TYPE == 10 or CONDITIONS_UTILISATION == 'cle_a_recuperer' -->
		<div>
			<strong>Refuge.info n'a aucun lien avec les gestionnaires.</strong><br />
			Ne leur laissez pas de message (renseignement, réservation, ...) ici,
			ils ne pourront pas le lire !<br />
			Vous devez les contacter directement (références dans la fiche).
		</div>
	<!-- ENDIF -->
<!-- ENDIF -->
