/* Compatibility controls OL V5 */
.ol-overlaycontainer-stopevent{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}

/* Top aligned buttons */
/* Container */
.ol-control-hidden {
	display: none;
}
.ol-zoom,
.ol-full-screen,
.ol-geocoder,
.ol-gps,
.myol-button {
	float: left;
	position: relative !important;
	left: 0 !important;
	top: 0 !important;
	margin: .2em 0 0 .2em;
	padding: 0; /* No grey line around the button */
}

/* Button */
.ol-control button,
.ol-control button:focus,
.ol-geocoder button {
	font-size: 1.14em !important;
	color: black;
	background-color: white;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .65);
	outline: 0;
}
.ol-geocoder button {
	position: initial !important;
	margin: 1px;
	border: 0;
	padding: 0;
	height: 1.375em !important;
	width: 1.375em !important;
	border-radius: 2px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' style='stroke:black;stroke-width:2;fill-opacity:0;'%3E%3Cpath d='M15 15A5 5 0 0 1 6 6A6 6 0 0 1 15 15L22 22'/%3E%3C/svg%3E") !important;
}
.ol-control button:hover,
.ol-geocoder button:hover {
	box-shadow: 1px 1px 10px black;
	background-color: #d6fbff;
}
.ol-control button:active,
.ol-geocoder button:active { /* Shift the button by 1px when clicked */
	position: relative !important;
	top: 1px;
	left: 1px;
}

/* Boxes under buttons */
.ol-control-question {
	position: absolute;
	top: 1.7em;
	width: 6.5em;
	padding: 1px;
	background-color: white;
}
.ol-control-question span {
	cursor: pointer;
}
.gcd-gl-control {
	top: 1.7em;
	left: -2.1em;
}
.gcd-gl-control,
.gcd-gl-control:hover {
	background: rgba(0, 0, 0, 0); /* Transparent */
}
.gcd-gl-result {
	top: 3.8em !important;
	left: .1em !important;
}

/* Full screen */
.ol-full-screen-false,
.ol-full-screen-true {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' style='stroke:black;stroke-width:2;fill-opacity:0;stroke-linejoin:round;stroke-linecap:round;stroke-dasharray:5,7,5,0;'%3E%3Cpath d='M4 4l17 0 0 17-17 0z'/%3E%3C/svg%3E");
	/* https://developer.mozilla.org/fr/docs/Web/SVG/Tutoriel/Paths */
}

/* GPS */
.ol-gps button {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' style='stroke:black;stroke-width:2;fill-opacity:0;stroke-linejoin:round;stroke-linecap:round;'%3E%3Cpath d='M7 7A7.5 7.5 0 0 1 18 18 7.5 7.5 0 1 1 7 7'/%3E%3Cpath d='M2 12.5l21 0M12.5 2l0 21' style='stroke-dasharray:6,9;'/%3E%3C/svg%3E");
}

.ol-download p {
	margin: 0;
	cursor: pointer;
}

/* Print */
.ol-print:hover {
	background-color: transparent;
}
.ol-print button {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' style='stroke:black;'%3E%3Cpath d='M8 6l9 0 0 2-9 0z'/%3E%3Cpath d='M5 10l15 0 0 5-15 0z'/%3E%3Cpath d='M8 13l9 0 0 6-9 0z' style='fill:white;'/%3E%3C/svg%3E");
}
.ol-print p {
	margin: 0;
	font-size: .8em;
	font-family: Times New Roman;
}
.ol-print p span {
	color: blue;
}
/* When printing, hide all controls except : */
@media print {
	.ol-overlaycontainer-stopevent > * {
		display: none;
	}
	.ol-attribution,
	.ol-scale-line {
		display: block;
	}
}

/* Other controls */
.ol-permalink,
.ol-attribution,
.ol-coordinate,
.ol-length-line {
	font-size: .8em;
}
.ol-switch-layer {
	position: absolute !important;
	left: auto !important;
	right: .2em;
	z-index: 1;
	background-color: white !important; /* Initial translucid */
}
.ol-switch-layer div {
	padding: 2px;
}
.ol-switch-layer input {
	margin: 0;
}
.ol-switch-layer button {
	padding-bottom: .5em;
}
.ol-switch-layer p {
	margin: 0;
	font-size: .8em;
}
.ol-permalink {
	position: absolute;
	bottom: 24px;
	right: 0;
	padding: 3px;
	border-radius: 8px 0 0 8px;
	background: rgba(255, 255, 255, .8);
}
.ol-coordinate {
	position: absolute;
	bottom: 30px;
	left: 8px;
	padding: 2px;
	border-radius: 4px;
	background: rgba(0, 60, 136, .3);
	color: white;
}
.ol-length-line {
	position: absolute;
	bottom: 52px;
	left: 8px;
	padding: 2px;
	border-radius: 4px;
	background: rgba(0, 60, 136, .3);
	color: white;
}
.ol-coordinate:empty,
.ol-length-line:empty {
	display: none;
}

/* Vector layers popup */
.myol-popup,
.myol-popup:hover {
	display: block;
	padding: 1px 4px;
	border-radius: 5px;
	box-shadow: 0 3px 8px #888;
	background-color: white;
	font-size: .8em;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: initial;
	cursor: auto;
}
.myol-popup p {
	margin: 0;
	font-size: .8em;
}
.myol-popup span {
	font-size: .7em;
}
.myol-popup-hidden {
	display: none;
}