/*
 * editor.css
 */

/* Inspect */
.myol-button-inspect button::after {
  content: "\2048";
}

.map-edit-0 {
  cursor: help;
}

/* Modify */
.myol-button-modify button::after {
  content: "\2725";
}

.map-edit-1 {
  cursor: alias;
}

/* Draw line */
.myol-button-draw-line button::after {
  content: "\2608";
}

.map-edit-2 {
  cursor: copy;
}

/* Draw poly */
.myol-button-draw-poly button::after {
  content: "\23E2";
}

.map-edit-3 {
  cursor: copy;
}

/* Submenu */
.myol-button:not(.myol-button-hover)>div {
  max-height: 0;
  opacity: 0;
}