{% include 'mcp_header.html' %}
<!-- INCLUDEJS @RefugesInfo_trace/trace.js -->

<div class="traces">
  <!-- IF ID_POINT -->
    <h4>Traces liées au point {ID_POINT}</h4>
  <!-- ELSEIF ID_COMMENTAIRE -->
    <h4>Trace du commentaire {ID_COMMENTAIRE}</h4>
  <!-- ELSEIF TRACE_ID -->
    <h4>Trace {TRACE_ID}</h4>
  <!-- ELSE -->
    <p><a href="{U_MCP_ACTION}&ext_error=null">
      {LIMIT} dernières contributions acceptées
    </a></p>
    <p><a href="{U_MCP_ACTION}&ext_error=null&uri=edit&group_id=!201.!202&to_check=1">
      éditions de posts par un utilisateur non vérifiées
    </a></p>
    <p><a href="{U_MCP_ACTION}&browser_operator=!serve">
      {LIMIT} dernières contributions (sauf bots)
    </a></p>
    <p><a href="{U_MCP_ACTION}">
      {LIMIT} dernières contributions (sans filtre)
    </a></p>
    <p><a href="{U_MCP_ACTION}&ext_error=!CleanTalk.!No%20soup&browser_operator=!serve">
      {LIMIT} dernières contributions rejetées pour motif interne
    </a></p>
    <p><a href="{U_MCP_ACTION}&ext_error=CleanTalk&browser_operator=!serve">
      {LIMIT} dernières contributions rejetées par CleanTalk (sauf bots)
    </a></p>
    <p><a href="{U_MCP_ACTION}&browser_operator=serve&!AS209155">
      {LIMIT} dernières contributions rejetées (bots sauf Onehostplanet)
    </a></p>
    <p><a href="{U_MCP_ACTION}&browser_operator=serve">
      {LIMIT} dernières contributions rejetées (tous bots)
    </a></p>
    <hr/>

    <h4>
      <!-- IF NOMBRE_TRACES -->
        Historique de {NOMBRE_LIGNES} traces sur {NOMBRE_TRACES}
        <!-- IF OFFSET -->à partir de la {OFFSET} ième<!-- ENDIF -->
      <!-- ELSE -->
        Pas de trace correspondant à ces critères
      <!-- ENDIF -->
      <a href="{U_MCP_ACTION}&{NEXT}">{LIMIT} suivants</a>
    </h4>

    <div id="edit-requete">
      <p>{WHERE_SQL} <a title="Modifier la requête">&#9998;</a></p>
      <form method="get" action="{U_MCP_ACTION}">
        <br/>
        <div>{REQUETE_SQL}</div>
        <br/>
        <table>
          <tr>
            <td></td>
            <td>
                <p>nombre (=), !nombre (#), caractères (contient), !caractères (ne contient pas),
                  null (nul ou 0 ou ''), !null</p>
                <p>On peut mettre plusieurs conditions séparées
                  par des ❝|❞ (OU) ou par des ❝.❞ (ET)</p>
                <p>OU à la précédence sur ET</p>
            </td>
          </tr>
          <!-- BEGIN inputs_requete -->
            <tr>
              <td>{inputs_requete.NAME} &nbsp;</td>
              <td>
                <input type="text" name="{inputs_requete.NAME}" value="{inputs_requete.VALUE}">
              </td>
            </tr>
          <!-- END inputs_requete -->
          <tr>
            <td></td>
            <td>Offset: passer n lignes</td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input type="hidden" name="i" value="-RefugesInfo-trace-mcp-main_module">
              <button type="submit" onclick="submitEdited(this)">Filtrer</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <hr/>
  <!-- ENDIF -->

  <!-- Tableau de résultats -->
  <!-- EVENT mcp_post_additional_options -->

  <!-- Tous le résultats -->
    <!-- IF full_trace -->
      <hr/>
      <h4>Dump de l'enregistrement SQL</h4>
    <!-- BEGIN full_trace -->
      <p>{full_trace.NAME} = {full_trace.VALUE}</p>
    <!-- END full_trace -->
  <!-- ENDIF -->

</div>

{% include 'mcp_footer.html' %}
