{% include 'mcp_header.html' %}
<!-- INCLUDECSS @RefugesInfo_trace/trace.css -->

<div class="traces">
  <!-- IF ID_POINT -->
    <h4>Traces liées au point {ID_POINT}</h4>
  <!-- ELSEIF ID_COMMENTAIRE -->
    <h4>Trace du commentaire {ID_COMMENTAIRE}</h4>
  <!-- ELSEIF TRACE_ID -->
    <h4>Trace {TRACE_ID}</h4>
  <!-- ELSE -->
    <a href="{U_MCP_ACTION}&ext_error=null">
      {LIMIT} dernières contributions acceptées
    </a>
    <a href="{U_MCP_ACTION}&ext_error=!CleanTalk,!No%20soup&browser_operator=!serve">
      {LIMIT} dernières contributions rejetées pour motif interne
    </a>
    <a href="{U_MCP_ACTION}&ext_error=CleanTalk&browser_operator=!serve">
      {LIMIT} dernières contributions rejetées par CleanTalk (sauf bots)
    </a>
    <a href="{U_MCP_ACTION}&browser_operator=serve">
      {LIMIT} dernières contributions rejetées (bots)
    </a>
    <a href="{U_MCP_ACTION}&browser_operator=!serve">
      {LIMIT} dernières contributions (sauf bots)
    </a>
    <a href="{U_MCP_ACTION}&search=advanced">
      Recherche avancée
    </a>
    <hr/>

    <!-- IF SEARCH == "advanced" -->
      <p class="mcp-trace-title">Sélection manuelle</p>
      <form method="get" action="{U_MCP_ACTION}">
        <div>Syntaxe : chaine (contient) , !chaine (ne contient pas) , null , !null</div>
        <label>N° trace <input type="number" name="trace_id" value="{TRACE_ID}" /></label>
        <label>Erreur inclue <input type="text" size="50" name="ext_error" value="{EXT_ERROR}" /></label>
        <label>Fournisseur inclue <input type="text" name="asn" value="{ASN}" /></label>
        <label>Host inclue <input type="text" name="host" value="{HOST}" /></label>
        <label>
          <input type="text" size="5" name="limit" value="{LIMIT}" /> traces,
          en sautant <input type="text" size="5" name="offset" value="{OFFSET}" /> traces
        </label>
        <input type="hidden" name="i" value="{I}" />
        <input type="hidden" name="search" value="advanced" />
        <button type="submit" id="advanced_traces_search_submit">Filtrer</button>
      </form>
      <hr/>
      <script>
        // Submit while pressing enter
        const atcssEl = document.getElementById('advanced_traces_search_submit');
        if (atcssEl)
          window.addEventListener('keypress', () => {
            atcssEl.click();
          });
      </script>
    <!-- ENDIF -->

    <h4>
      <!-- IF NOMBRE_TRACES -->
        Historique de {NOMBRE_LIGNES} traces
        sur {NOMBRE_TRACES}
        <!-- IF OFFSET -->
          à partir de la {OFFSET} ième
        <!-- ENDIF -->
      <!-- ELSE -->
        Pas de trace correspondant à ces critères
      <!-- ENDIF -->
    </h4>
    <!-- IF WHERE -->
      <p>{WHERE}</p><hr/>
    <!-- ENDIF -->
  <!-- ENDIF -->

  {TRACES}
</div>

{% include 'mcp_footer.html' %}
