.cp-main {
  width: 100%;
}

.cp-menu,
#edit-requete.edit-form > p,
#edit-requete:not(.edit-form) > form {
  display: none;
}

.traces p {
  margin: 0;
}

.traces > p > a:first-letter {
  text-transform: capitalize;
}

.traces #edit-requete input {
  width: 30em !important;
}

.traces #edit-requete a {
  cursor: pointer;
}

.report-trace td:last-child div {
  max-width: 130px;
}

.report-trace td:nth-child(2) div,
.report-trace td:last-child div {
  max-height: 130px;
  overflow-y: auto;
}

.report-trace td {
  vertical-align: top;
  border: 1px solid grey;
  padding: 3px;
}

.traces button {
  border: 1px solid var(--couleur_texte);
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
}

.check-trace {
  border-radius: 5px;
  background: red;
  color: var(--couleur_texte) !important;
}
