<!-- INCLUDE overall_header.html -->
<!-- INCLUDECSS @cleantalk_antispam/sfw_page_style.css -->
<div class='container'>
    <h1 class='main'>{SFW_DIE_NOTICE_IP} <a href='https://cleantalk.org/blacklists/{REMOTE_ADDRESS}' target='_blank'>{REMOTE_ADDRESS}</a></h1>
    
    <div id='js_info'><br />{SFW_DIE_MAKE_SURE_JS_ENABLED}</div>
    
    <div id='js_passed'>
    <h3>{SFW_DIE_CLICK_TO_PASS}</h3>
    <br/>
    <center><a href='{REQUEST_URI}'><script>document.write(window.location.href)</script></a></center>
    <br /><br />
    <center><p class='js_notice'>{SFW_DIE_YOU_WILL_BE_REDIRECTED}</p></center>
    </div>
</div>
<script type='text/javascript'>
    var reload_timeout = 3000;
    function set_spamFireWallCookie(cookie_name, cookie_value) {
        var date = new Date;
        date.setDate(date.getDate() + 30);
        document.cookie = cookie_name + "=" + escape(cookie_value) + "; path=/;expires=" + date.toUTCString() + ";{COOKIE_DOMAIN|e('js')}";
        return null;
    }
    document.getElementById('js_info').style.display = 'none';
    document.getElementById('js_passed').style.display = 'block';
    setTimeout(function(){
        set_spamFireWallCookie("{COOKIE_PREFIX}ct_sfw_pass_key","{SFW_COOKIE|e('js')}");
        set_spamFireWallCookie("{COOKIE_PREFIX}ct_sfw_passed","1");
    }, 50);
    setTimeout(function(){
        window.location.href = window.location.href + (window.location.search === '' ? '?sfw=pass' : '&sfw=pass');
    }, reload_timeout);
</script>
<!-- INCLUDE overall_footer.html -->
